/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html, body {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
}



/* My styles
-------------------------------------------------- */

.left-side {
    width: 67%;
    min-height: 100vh;
    position: absolute;
    left: 0px;
    z-index: 0;
    background-color: #FFC0BB;

}

.right-side {
    width: 33%;
    height: 100%;
    position: absolute;
    right: 0px;
    min-height: 100%;
    z-index: 0;
    background-color: #FFE6E8;
}

.xlong-background {
    height: 475%;
}

.donut-layer {
    z-index: 1;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
}

.actual-content{
    z-index: 2;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
}

.top-of-page {
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-container {
    margin-top: 30px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    
}

.donut-logo {
    color: #FF4219;
    font-size: 3.7rem;
}

.hoodoo-title {
    color: #FF4219;
    font-family: 'Inter';
    font-size: 1.5rem;
    font-weight: 700;
    width: 100px;
    line-height: 80%;
}

.icon-container {
    margin-top: 20px;
    margin-right: 40px;
    /*width: 100px;*/
}

.social-icon {
    color: #FF4219;
    font-size: 1.5rem;
    margin: 3px;
    
}

.rotating-text {
    position: absolute;
    left: 52%;
    top: 20%;
    animation: rotation 30s infinite linear;
    height: 400px;
    width: 400px;
}

path {
    fill: transparent;
}

text {
    fill: #FF4219;
    font-weight: 500;
    font-family: 'Noto-Serif-Display';
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.text-inside-circle {
    position: absolute;
    left: 61%;
    top: 31%;
    font-weight: 800;
    font-family: 'Inter';
    color: #FF4219;
    font-size: 2.5rem;
    width: 150px;
    line-height: 90%;
    text-align: center;
}

.floating1 {
    animation-name: floating1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating1 {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

.floating2 {
    animation-name: floating2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating2 {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(-5px, -10px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

.floating3 {
    animation-name: floating3;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating3 {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(5px, 10px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

.floating4 {
    animation-name: floating4;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating4 {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(-2px, -10px);
    }

    100% {
        transform: translate(0, 0px);
    }
}

.donut-page-button {
    position: absolute;
    left: 31%;
    bottom: 20%;
    padding: 15px;
    border-radius: 999px;
    background-color: #FF4219;
    animation-name: movingbutton;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    text-decoration: none;
    color: white;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 1.9rem;
}

.donut-page-button:hover {
    text-decoration: none;
    color: white;
    background-color: #FF694B;
}

@keyframes movingbutton {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, -10px);
    }

    100% {
        transform: translate(0, 0px);
    }
}

.chevron1 {
    position: absolute;
    left: 33%;
    bottom: 13%;
    padding: 15px;
    animation-name: chevron1;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    color: #FF4219;
    font-size: 3rem;
}

.chevron2 {
    position: absolute;
    left: 33%;
    bottom: 10%;
    padding: 15px;
    animation-name: chevron2;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    color: #FF4219;
    font-size: 3rem;
}


@keyframes chevron1 {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, -18px);
    }

    100% {
        transform: translate(0, 0px);
    }
}

@keyframes chevron2 {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, -26px);
    }

    100% {
        transform: translate(0, 0px);
    }
}

.donut-cards-container {
    position: absolute;
    z-index: 2;
    left: 20%;
    right: 36%;
    top: 14%;
    bottom: 10%;
    flex-wrap: wrap;
}


.donut-card {
    z-index: 1;
    background-color: white;
    width: 290px;
    height: 310px;
    margin-bottom: 30px;
    margin-right: 30px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    float: left;
}

.donut-name {
    color: #FF4219;
    font-family: 'Inter';
    font-size: 1.4rem;
    font-weight: 800;
    padding: 10px;
    /*text-transform: capitalize;*/
}

.donut-price {
    color: #FF6C4F;
    font-family: 'Inter';
    font-style: italic;
    font-size: 1.1rem;
    font-weight: 500;
}


.back-container {
    position: absolute;
    left: 20%;
    top: 5%;
    animation-name: back-button;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.back-button {
    padding: 15px;
    border-radius: 999px;
    background-color: #FF4219;
    text-decoration: none;
    color: white;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 1.1rem;
}

.back-button:hover {
    text-decoration: none;
    color: white;
    background-color: #FF694B;
}

@keyframes back-button {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 8px);
    }

    100% {
        transform: translate(0, 0px);
    }
}

.left-chevron {
    color: #FF4219;
    font-size: 1.5rem;
}

.type-buttons-container {
    position: absolute;
    top: 14%;
    right: 12%;
    left: 72%;
    bottom: 20%;
    display: flex;
    flex-direction: column;
}

.type-button {
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 999px;
    background-color: #FF4219;
    text-decoration: none;
    color: white;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 1.1rem;
}

.type-button:hover {
    text-decoration: none;
    color: white;
    background-color: #FF694B;
}